<launch> 
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find multi_robot_scenario)/launch/cangchu.world"/>  <!-- 确保 TD3.world 路径正确 -->
        <arg name="paused" value="false"/>
        <arg name="use_sim_time" value="true"/>
        <arg name="gui" value="true"/>  <!-- 保留 Gazebo 图形界面 -->
        <arg name="headless" value="false"/>
        <arg name="debug" value="false"/>
    </include>
</launch>
